body::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
  }
  



:root {
    --bs-light: #383d3b;
    --bs-light-rgb: 56.35,60.95,58.65;
    --bs-dark: #e9e9ef;
    --bs-dark-rgb: 233,233,239;
    --bs-header-bg: #2c302e;
    --bs-header-item-color: #e9ecef;
    --bs-header-item-sub-color: var(--bs-secondary-color);
    --bs-sidebar-bg: #313533;
    --bs-sidebar-menu-item-color: #898fa9;
    --bs-sidebar-menu-sub-item-color: #7b8198;
    --bs-sidebar-menu-item-icon-color: #666b7f;
    --bs-sidebar-menu-item-icon-effact-color: #858d9833;
    --bs-sidebar-menu-item-hover-color: #5b73e8;
    --bs-sidebar-menu-item-hover-effact-color: #fff3;
    --bs-sidebar-menu-item-active-color: #5b73e8;
    --bs-sidebar-menu-item-active-effact-color: #fff3;
    --bs-sidebar-border-color: #373c39;
    --bs-sidebar-menu-item-active-bg-color: #34415d;
    --bs-sidebar-menu-item-active-bg-color-dark: #343747;
    --bs-sidebar-alert: #313533;
    --bs-sidebar-dark-bg: #2c302e;
    --bs-sidebar-dark-menu-item-color: #99a4b1;
    --bs-sidebar-dark-menu-sub-item-color: #858d98;
    --bs-sidebar-dark-menu-item-icon-color: #858d98;
    --bs-sidebar-dark-menu-item-hover-color: #fff;
    --bs-sidebar-dark-menu-item-active-color: #fff;
    --bs-search-width: 1px;
    --bs-search-border-color: #3b403d;
    --bs-footer-bg: #313533;
    --bs-footer-color: #adb5bd;
    --bs-footer-border-color: #383d3b;
    --bs-topnav-bg: #373c39;
    --bs-topnav-item-color: #ced4da;
    --bs-topnav-item-color-active: #fff;
    --bs-menu-item-color: #99a4b1;
    --bs-menu-item-active-color: #fff;
    --bs-input-bg: #3b403d;
    --bs-accordion-button-active-bg: #3b403d;
    --bs-boxed-body-bg: #323734;
}


:root {
  --bs-body-color: #adb5bd;
  --bs-body-color-rgb: 173,181,189;
  --bs-body-bg: #313533;
  --bs-body-bg-rgb: 49,53,51;
  --bs-emphasis-color: #f8f9fa;
  --bs-emphasis-color-rgb: 248,249,250;
  --bs-secondary-color: #adb5bdbf;
  --bs-secondary-color-rgb: 173,181,189;
  --bs-secondary-bg: #2c302e;
  --bs-secondary-bg-rgb: 44,48,46;
  --bs-tertiary-color: #adb5bd80;
  --bs-tertiary-color-rgb: 173,181,189;
  --bs-tertiary-bg: #2f3331;
  --bs-tertiary-bg-rgb: 47,51,49;
  --bs-primary-text-emphasis: #979ad8;
  --bs-secondary-text-emphasis: #acaebb;
  --bs-success-text-emphasis: #7fd3b1;
  --bs-info-text-emphasis: #93caf5;
  --bs-warning-text-emphasis: #ffd998;
  --bs-danger-text-emphasis: #fea19e;
  --bs-light-text-emphasis: #f8f9fa;
  --bs-dark-text-emphasis: #f6f6f6;
  --bs-primary-bg-subtle: #20224c;
  --bs-secondary-bg-subtle: #2e3038;
  --bs-success-bg-subtle: #114832;
  --bs-info-bg-subtle: #1e4260;
  --bs-warning-bg-subtle: #664c21;
  --bs-danger-bg-subtle: #652726;
  --bs-light-bg-subtle: #2c302e;
  --bs-dark-bg-subtle: #161817;
  --bs-primary-border-subtle: #313472;
  --bs-secondary-border-subtle: #464855;
  --bs-success-border-subtle: #196d4b;
  --bs-info-border-subtle: #2d648f;
  --bs-warning-border-subtle: #997332;
  --bs-danger-border-subtle: #983b38;
  --bs-light-border-subtle: #313533;
  --bs-dark-border-subtle: #2c302e;
  --bs-heading-color: #fff;
  --bs-link-color: #979ad8;
  --bs-link-hover-color: #acaee0;
  --bs-link-color-rgb: 151,154,216;
  --bs-link-hover-color-rgb: 172,174,224;
  --bs-code-color: #f18bba;
  --bs-highlight-color: #adb5bd;
  --bs-highlight-bg: #664c21;
  --bs-border-color: #383d3b;
  --bs-border-color-translucent: #ffffff26;
  --bs-form-valid-color: #7fd3b1;
  --bs-form-valid-border-color: #7fd3b1;
  --bs-form-invalid-color: #fea19e;
  --bs-form-invalid-border-color: #fea19e;
  color-scheme: dark;
}

body {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background-color: #fff;
    background-color: var(--bs-body-bg);
    color: #313533;
    color: var(--bs-body-color);
    font-family: IBM Plex Sans,sans-serif;
    font-family: var(--bs-body-font-family);
}



header.style-1{
  position: fixed !important;
}


.elementor-12 .elementor-element.elementor-element-84c6e2e .banner-section1 {
  margin-top: 5rem !important;
}