body[data-sidebar=dark] .vertical-menu {
    background: var(--bs-sidebar-dark-bg);
}

.vertical-menu {
    background: #fbfaff;
    background: var(--bs-sidebar-bg);
    border-right: 1px solid #e9e9ef;
    border-right: 1px solid var(--bs-border-color);
    bottom: 0;
    margin-top: 0;
    position: fixed;
    top: 70px;
    width: 250px;
    z-index: 1001;
}

[data-simplebar] {
    align-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
}

.simplebar-wrapper {
    height: inherit;
    max-height: inherit;
    max-width: inherit;
    overflow: hidden;
    width: inherit;
}

.simplebar-height-auto-observer-wrapper {
    box-sizing: inherit!important;
    flex-basis: 0;
    flex-grow: inherit;
    flex-shrink: 0;
    float: left;
    height: 100%;
    margin: 0;
    max-height: 1px;
    max-width: 1px;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: relative;
    width: 100%;
    z-index: -1;
}

.simplebar-height-auto-observer, .simplebar-track {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
}

.simplebar-height-auto-observer {
    box-sizing: inherit;
    display: block;
    height: 1000%;
    left: 0;
    min-height: 1px;
    min-width: 1px;
    opacity: 0;
    top: 0;
    width: 1000%;
    z-index: -1;
}

.simplebar-mask, .simplebar-offset {
    bottom: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
}

.simplebar-mask {
    direction: inherit;
    height: auto!important;
    left: 0;
    overflow: hidden;
    right: 0;
    width: auto!important;
    z-index: 0;
}

.simplebar-offset {
    -webkit-overflow-scrolling: touch;
    box-sizing: inherit!important;
    direction: inherit!important;
    left: 0!important;
    resize: none!important;
    right: 0!important;
}

.simplebar-mask, .simplebar-offset {
    bottom: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
}

.simplebar-content-wrapper {
    box-sizing: border-box!important;
    direction: inherit;
    display: block;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
    padding: 0!important;
    position: relative;
    scrollbar-width: none;
    visibility: visible;
    width: auto;
}

body[data-sidebar=dark] .mm-active, body[data-sidebar=dark] .mm-active>a, body[data-sidebar=dark] .mm-active>a i, body[data-sidebar=dark] .mm-active>a svg, body[data-sidebar=dark][data-sidebar-size=sm] .vertical-menu #sidebar-menu ul li.mm-active .active, body[data-sidebar=dark][data-sidebar-size=sm] .vertical-menu #sidebar-menu ul li.mm-active .active i {
    color: var(--bs-sidebar-dark-menu-item-active-color)!important;
}

#sidebar-menu {
    padding: 10px 0 30px;
}

.metismenu {
    margin: 0;
}


body[data-sidebar=dark] .menu-title {
    color: var(--bs-sidebar-dark-menu-item-icon-color);
}

.metismenu li {
    display: block;
    width: 100%;
}

.menu-title {
    color: #545a6d;
    color: var(--bs-sidebar-menu-item-icon-color);
    cursor: default;
    font-size: 12px;
    font-weight: 500;
    padding: 12px 20px!important;
    pointer-events: none;
}

#sidebar-menu ul li a {
    color: #545a6d;
    color: var(--bs-sidebar-menu-item-color);
    display: block;
    font-size: .9rem;
    font-weight: 500;
    padding: .62rem 1.5rem;
    position: relative;
    transition: all .4s;
}

body[data-sidebar=dark] #sidebar-menu ul li a {
    color: var(--bs-sidebar-dark-menu-item-color);
}

.mm-active .active, .mm-active .active i, .mm-active .active svg {
    color: #5156be!important;
    color: var(--bs-sidebar-menu-item-active-color)!important;
}

body[data-sidebar=dark] #sidebar-menu ul li a {
    color: var(--bs-sidebar-dark-menu-item-color);
}

#sidebar-menu ul li a {
    color: #545a6d;
    color: var(--bs-sidebar-menu-item-color);
    display: block;
    font-size: .9rem;
    font-weight: 500;
    padding: .62rem 1.5rem;
    position: relative;
    transition: all .4s;
}


.metismenu .mm-collapse, .metismenu .mm-collapse:not(.mm-show) {
    display: none;
}

#sidebar-menu ul li a svg {
    fill: #545a6d33;
    fill: var(--bs-sidebar-menu-item-icon-effact-color);
    height: 16px;
    margin-right: 10px;
    margin-top: -3px;
    width: 16px;
}

body[data-sidebar=dark] #sidebar-menu ul li a svg {
    fill: #545a6d33;
    fill: var(--bs-sidebar-menu-item-icon-effact-color);
    color: var(--bs-sidebar-dark-menu-item-icon-color);
}

@media (max-width: 992px) {
    body.sidebar-enable .vertical-menu {
        display: block;
    }
}

@media (max-width: 992px) {
    .vertical-menu {
        display: none;
    }
}